 *, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100vh;
	font-size: 100%;
}

body{
	margin: 0;
	text-align: center; 
} 

ul {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	margin: auto;
	padding: 10px;
}

ul li {
	display: block;
	background-color: #3b90e5;
	list-style: none;
	width: 300px;
	padding: 10px;
	margin-bottom: 5vh;
}

ul li:hover {
	background-color: #fe6e1e;
}

ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
}

.screenshot {
	padding-bottom: 75%;
	position: relative;
	font-size: 0;
}


ul li a img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

ul li a .lesson_name {
	padding: 2vh 0;
}

ul li h4 {
	font-size: 6vh;
	font-weight: 600;
}

ul li span {
	font-size: 3.5vh;
}


