.main-main {
	padding: 205px 0 100px;
}

.sec-about {
	padding: 150px 0;
	min-height: 470px;
	background: transparent url($img_path + 'about-bg.jpg') 50% 100% no-repeat;
	position: relative;
	z-index: 1;

	&::after {
		content: "";
		position: absolute;
		background-color: $blue-color;
		opacity: .95;
		z-index: 2;
		@include after-bg;

	}

	&__content {
		position: absolute;
		z-index: 3;
	}


	&-title {
		position: absolute;
		left: 0;
		top: 0;
		transform: translateY(-76%);

		& * {
			font-size: 91px;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1;
			opacity: 0.02; 
		}
	}

	&__text-content {
		padding: 0 5% 0 10% ;
		z-index: 3;
		position: relative;
	}

	&__white-line {
		position: absolute;
		top: 12px;
		left: 0;
		width: 35px;
		z-index: 4;
	}

	&__description {
		@extend %descr-bottom;
		font-weight: 300;
		line-height: 1.875;
	}

	&__img-wrap {
		position: relative;
		padding-top: 116%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 15px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: translateY(-55%);
	}
}



