.sec-choose {
	padding: 120px 0;

	&__text-content {
		padding: 85px 0 50px;
	}

	&__title {
		font-size: 36px;
		margin-bottom: 60px;
	}

	&__description {
		line-height: 1.6;

		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}

	&__gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img-wrap {
		max-width: 350px;
		margin-bottom: 5px;

		&:first-child {
			align-self: flex-end;
		}
	}
}


