@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

@font-face {
	font-family: "Aleo";
	src: url("../fonts/aleo/aleo-regular-webfont.ttf") format("TrueType"),
	url("../fonts/aleo/aleo-regular-webfont.eot") format("eot"),
	url("../fonts/aleo/aleo-regular-webfont.woff") format("woff"),
	url("../fonts/aleo/aleo-regular-webfont.woff2") format("woff2"),
	url("../fonts/aleo/aleo-regular-webfont.svg") format("svg");
}

*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;

}

body{
	border: solid 15px $white-color;
	font-family: $main-font;
	font-size: $font-size;
	background-color: $main-bg-color;
	color: $white-color;
}

$sections: header, choose, house, rocks, testimonials;

@each $section in $sections {
	.sec-#{$section} {
		background-image: url($img-path + $section + '-bg.jpg');
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}
}

a, button {
	cursor: pointer;
}

a, a:active {
	text-decoration: none;
	color: currentColor;
}

a, button, input {
	outline:none;
}

.main-button {
	min-width: 225px;
	height: 60px;
	border: none;
	background: linear-gradient(45deg,
		rgba($dark-blue-color,1) 0,
		rgba($dark-blue-color,1) 40%,
		rgba($light-blue-color,1) 41%,
		rgba($light-blue-color,1) 100%);
	color: $white-color;
	text-transform: uppercase;

	&:hover {
		background: linear-gradient(45deg,
			rgba($dark-blue-color,.8) 0,
			rgba($dark-blue-color,.8) 40%,
			rgba($light-blue-color,.8) 41%,
			rgba($light-blue-color,.8) 100%);
	}
}





