.sec-house {
	padding: 230px 0 100px;
}

.tour {
	padding: 50px 30px;
	background-color: rgba($dark-grey-color,.9);
	font-family: $secondary-font;
	line-height: 26px;

	&__country {
		display: block;
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__name {
		margin-bottom: 30px;
		& * {
			display: inline-block;
			font-size: 20px;
			text-transform: uppercase;
		}		
	}

	&__descr {
		margin-bottom: 50px;
	}
}