.sec-how {
	padding: 100px 0 120px;
	&__list {
		position: relative;
		display: flex;
		justify-content: space-around;
		&::before {
			content: "";
			position: absolute;
			top: -55px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			height: 60px;
			width: calc((100% - 120px) * .72);
			background: transparent url($img-path + 'how-bg.png') no-repeat;
			background-size: 100%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		width: 60px;
		height: 60px;
		margin-bottom: 30px;
		background-color: $dark-grey-color;
		z-index: 2;

		&--search {
			color: $dark-blue-color;
		}

		&--select {
			color: #ff6363;
		}


		&--finger {
			color: $light-blue-color;
		}
	}

	&__item-title {
		display: inline-block;
		font-size: 36px;
	}
}


