$white-color: #fff;
$light-color: #e8e8e8;
$light-blue-color: #5474fd;
$dark-blue-color: #496bfe;
$light-grey-color: #333333;
$dark-grey-color: #232323;

$main-color: $white-color;
$secondary-color: $light-color;

$main-font: "Aleo", sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;

$font-size: 16px;

$img-path: '../img/';

$color: black;
$main-bg-color: $dark-grey-color;