* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: $text_lg;
	font-family: $main_font;
	color: $main_color;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.main-screen {
	background: transparent url($img_path + 'hero-bg.png') no-repeat;
	background-size: cover;
	color: $secondary_color;
	text-transform: uppercase;
	text-align: center;
	position: relative;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 600px;
		margin: auto;
		min-height: 100vh;
	}

	&__logo {
		flex-grow: 24;
		display: flex;
		align-items: flex-end;

		a {
			display: block;
		}
	}

	&__heading {
		flex-grow: 6;
		display: flex;
		align-items: flex-end;
		& > * {
			font-size: $heading_size_h1;
			margin: 0;
			letter-spacing: 7px;
		}

	}

	&__text {
		flex-grow: 6;
		line-height: 1.6;
		display: flex;
		align-items: center;
	}

	&__scroll {
		flex-grow: 21;
		display: flex;
		align-items: center;
	}
}

.ba-section {
	padding: 150px 0;

	&__services {
		color: $white-color;
		background: #adb8cd url($img_path+'services.jpg') no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__our-works {
		padding: 0;
	}

	&__contacts {
		padding-bottom: 0;
	}
}

.border-div {
	border: 2px solid $dark-color;
	border-width: 0 2px 2px;
	position: relative;
	padding: 65px 0;

	&__title {
		position: absolute;
		width: 100%;
		transform: translateY(-50%);
		top: 0;
		letter-spacing: 5px;

		&>* {
			
			text-align: center;
			text-transform: uppercase;
		}
	}

	&__inner {
		max-width: 62%;
		margin: 0 auto;
		text-align: center;

		&-icon{

			&:not(:last-child) {
				margin-bottom: 120px;
			}
		}
	}

	&__text {
		line-height: 1.5;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&--thin {
			max-width: 81%;
			margin: auto;
		}

		&--small {
			font-size: $text_sm;
		}

		&__mb {
			margin-bottom: 35px !important;
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		border: 2px solid $dark-color;
		border-width: 2px 0 0;
		width: 27%;
	}

	&::before {
		left:0;
	}

	&::after {
		right:0;
	}

	&--light {
		border-color: $white-color;

		&::after,
		&::before {
			border-color:$white-color;			
		}
	}

	&--icon {
		padding: 120px 0;
	}

	&__icon {
		margin-bottom: 35px;		
	}

	&__icon-title {
		font-size: $heading_size_h3;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__btn {
		width: 100%;
		max-width: 395px;
		text-transform: uppercase;
		background-color: $dark-color;
		color: $white-color;
		border: none;
		padding: 10px 0;
		letter-spacing: 3px;
	}
}

.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 0;

	&__logo {
		margin-right: 20px;

		&-link {
			display: block;

			&:hover {
				path {
					stroke: red;
					fill: none;

					&.small {
						fill: red;
					}

				}
			}
		}
	}
}

svg  {
	width: 35px;
	path {
		stroke: $dark-color;
		fill: none;

		&.small {
			fill:$dark-color;
		}
	}
}

.tooltip-wrapper {
	text-align: center;
	position: relative;
	cusor: pointer;

	.tooltip {
		display: block;
		max-width: 300px;
		background-color: $main_color;
		color: $white-color;
		padding: 15px;
		border-radius: 10px;
		opacity: 0;
		transition: all 0.5s ease;
		position: absolute;
		left: -100px;
		top: 0;

		&:after {
			content: "";
			display: block;
			border: 15px solid transparent;
			position: absolute;
			transform: rotate(-45deg) translate(50%,-25%);
			top: 50%;
			right: 0;
			border-bottom-color: $main_color;
			border-right-color: $main_color;
		}
	}
}

.border-div__inner-icon:hover * .tooltip {
	opacity: 1;
}