$dark-color: #3c3c3c;
$white-color: #fff;

$main_color: $dark-color;
$secondary_color: $white-color;

$main_font: 'Lato', sans-serif;

$heading_size_h1: 54px;
$heading_size_h2: 34px;
$heading_size_h3: 20px;

$text_lg: 16px;
$text_md: 15px;
$text_sm: 14px;

$img_path: '../img/';