.sec-services {
	padding: 180px 0 220px;

	&__content {
		position: relative;
	}

	&__title {
		@extend %sec-title;
		right: 0;
	}

}

.service {
	&__title {
		@extend %descr-bottom;

		& h3 {
			font-size: 24px;
			font-weight: 300;

			&::before { 
				font-size: 24px;
				margin-right: 25px;
				@extend %icon-service;

			}
		}
	}

	&__description {
		font-size: 14px;
		font-weight: 200;
		line-height: 2;
		@extend %descr-bottom;
	}
}

