 *, *:after, *:before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100vh;
	min-height: 100%;
}

body{
	margin: 0;
	text-align: center; 
} 

.container {
	height: 100vh;
	width: 100vh;
	background-color: #e1cdb2;
	margin: 0 auto;
	padding: 3vh;
}

.checkerboard {
	display: block;
	border: 1vh solid #1a1511;
	height: 100%;
	font-size: 0;
}

.checkerboard li {
	background-color: #1a1511;
	width: 11.5vh;
	height: 11.5vh;
	display: inline-block;
	list-style: none;
	border: none;
	font-size: 100%;
	position: relative;
}

.checkerboard li:nth-child(2),
.checkerboard li:nth-child(4),
.checkerboard li:nth-child(6),
.checkerboard li:nth-child(8),
.checkerboard li:nth-child(9),
.checkerboard li:nth-child(11),
.checkerboard li:nth-child(13),
.checkerboard li:nth-child(15),
.checkerboard li:nth-child(18),
.checkerboard li:nth-child(20),
.checkerboard li:nth-child(22),
.checkerboard li:nth-child(24),
.checkerboard li:nth-child(25),
.checkerboard li:nth-child(27),
.checkerboard li:nth-child(29),
.checkerboard li:nth-child(31),
.checkerboard li:nth-child(34),
.checkerboard li:nth-child(36),
.checkerboard li:nth-child(38),
.checkerboard li:nth-child(40),
.checkerboard li:nth-child(41),
.checkerboard li:nth-child(43),
.checkerboard li:nth-child(45),
.checkerboard li:nth-child(47),
.checkerboard li:nth-child(50),
.checkerboard li:nth-child(52),
.checkerboard li:nth-child(54),
.checkerboard li:nth-child(56),
.checkerboard li:nth-child(57),
.checkerboard li:nth-child(59),
.checkerboard li:nth-child(61),
.checkerboard li:nth-child(63) {
	background-color: #e1cdb2;
}

.checkerboard li:first-child::after,
.checkerboard li:nth-child(3)::after,
.checkerboard li:nth-child(5)::after,
.checkerboard li:nth-child(7)::after,
.checkerboard li:nth-child(10)::after,
.checkerboard li:nth-child(12)::after,
.checkerboard li:nth-child(14)::after,
.checkerboard li:nth-child(16)::after,
.checkerboard li:nth-child(17)::after,
.checkerboard li:nth-child(19)::after,
.checkerboard li:nth-child(21)::after,
.checkerboard li:nth-child(23)::after,
.checkerboard li:nth-child(42)::after,
.checkerboard li:nth-child(44)::after,
.checkerboard li:nth-child(46)::after,
.checkerboard li:nth-child(48)::after,
.checkerboard li:nth-child(49)::after,
.checkerboard li:nth-child(51)::after,
.checkerboard li:nth-child(53)::after,
.checkerboard li:nth-child(55)::after,
.checkerboard li:nth-child(58)::after,
.checkerboard li:nth-child(60)::after,
.checkerboard li:nth-child(62)::after,
.checkerboard li:nth-child(64)::after  {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background-size: cover;
	width: 10vh;
	height: 10vh;
	margin: auto;
}

.checkerboard li:first-child::after,
.checkerboard li:nth-child(3)::after,
.checkerboard li:nth-child(5)::after,
.checkerboard li:nth-child(7)::after,
.checkerboard li:nth-child(10)::after,
.checkerboard li:nth-child(12)::after,
.checkerboard li:nth-child(14)::after,
.checkerboard li:nth-child(16)::after,
.checkerboard li:nth-child(17)::after,
.checkerboard li:nth-child(19)::after,
.checkerboard li:nth-child(21)::after,
.checkerboard li:nth-child(23)::after {
	background-image: url(../img/white.png);	
}

.checkerboard li:nth-child(42)::after,
.checkerboard li:nth-child(44)::after,
.checkerboard li:nth-child(46)::after,
.checkerboard li:nth-child(48)::after,
.checkerboard li:nth-child(49)::after,
.checkerboard li:nth-child(51)::after,
.checkerboard li:nth-child(53)::after,
.checkerboard li:nth-child(55)::after,
.checkerboard li:nth-child(58)::after,
.checkerboard li:nth-child(60)::after,
.checkerboard li:nth-child(62)::after,
.checkerboard li:nth-child(64)::after {
	background-image: url(../img/red.png);
}

.checkerboard li:first-child:hover::after,
.checkerboard li:nth-child(3):hover::after,
.checkerboard li:nth-child(5):hover::after,
.checkerboard li:nth-child(7):hover::after,
.checkerboard li:nth-child(10):hover::after,
.checkerboard li:nth-child(12):hover::after,
.checkerboard li:nth-child(14):hover::after,
.checkerboard li:nth-child(16):hover::after,
.checkerboard li:nth-child(17):hover::after,
.checkerboard li:nth-child(19):hover::after,
.checkerboard li:nth-child(21):hover::after,
.checkerboard li:nth-child(23):hover::after,
.checkerboard li:nth-child(42):hover::after,
.checkerboard li:nth-child(44):hover::after,
.checkerboard li:nth-child(46):hover::after,
.checkerboard li:nth-child(48):hover::after,
.checkerboard li:nth-child(49):hover::after,
.checkerboard li:nth-child(51):hover::after,
.checkerboard li:nth-child(53):hover::after,
.checkerboard li:nth-child(55):hover::after,
.checkerboard li:nth-child(58):hover::after,
.checkerboard li:nth-child(60):hover::after,
.checkerboard li:nth-child(62):hover::after,
.checkerboard li:nth-child(64):hover::after {
	opacity: .75;
}


