/* MAP
*****#COMMON
*****#HEADER
*****#PORTFOLIO
*****#CONTACTS
*****#ABOUT

.contacts input,
.contacts textarea {
display: block;
}*/

/* #COMMON */
* {
 transition: all .3s ease;
 box-sizing: border-box;
 outline: transparent;
}

@font-face {
    font-family: "Big John";
    src: url("../fonts/BigJohn.otf");
}

@font-face {
    font-family: "Slim Joe";
    src: url("../fonts/Slim+Joe.otf");
}

::-webkit-input-placeholder {color:rgba(60,73,85,.3)}
::-moz-placeholder          {color:rgba(60,73,85,.3)}
:-moz-placeholder           {color:rgba(60,73,85,.3)}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(60,73,85,.3)}

body {
    font-size: 100%;
    font-family: Lato, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.button {
/*     font-family: "Slim Joe"; */
    font-weight: 700;
    font-style: 14px;
    background: none;
    border: 2px solid;
    border-radius: 2px;
    text-align: center;
    padding: 10px 25px;    
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}

.button:hover {
    color: #fff;
}

.cf {
    clear: both;
}

.cf::before,
.cf::after {
    content: "";
    display: table;
    clear: both;
}

/* #HEADER */

.upper_row {
    margin-bottom: 150px;
}

.main-header {
    padding-top: 35px;
    padding-bottom: 180px;
    background: #fff url("../img/computer.jpg") no-repeat 0 0;
    background-size: cover;
    position: relative;
    color: #fff;    
}

.main-header::after,
.about::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(60,73,85,.8);
}

.logo a{
    display: block;
}

.header_menu {
    float: right;
    line-height: 4;
}

.header_menu ul {
    list-style: none;
}

.logo,
.header_menu,
.header_menu ul li {
    display: inline-block;
}

.header_menu ul li:not(:last-child):after{
    content: "/";
    display: inline-block;
    margin: 0 55px;
}

.header_menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: .5em;
}

.header_menu ul li a:hover{
    color: #48bf72;
    border-color: #48bf72;
}

.main-header__content {
    text-align: center;
}

.main-header h1,
.main-header h2 {
    margin-top: 0;
}

.main-header h1 {
    font-family: "Big John";
    font-size: 46px;    
}

.main-header h2 {
    font-family: "Slim Joe";
    font-size: 30px;
    margin-bottom: 35px;
}

.button--green {
    border-color: #48bf72;
    color: #48bf72;
}

.button--green:hover
 {
    background-color: #48bf72;
}

/* #PORTFOLIO */

.portfolio {
    padding: 50px 0 90px;

}
.portfolio__list {
    list-style: none;
    text-align: center;
}

.portfolio__item {
    display: inline-block;
    margin-right: 10px;
}

.portfolio__item:last-child {
    margin-right: 0;
}

.portfolio__link {
    display: block;
    font-weight: bold;
    background-color: #3c4955;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
}

.portfolio__link--active,
.portfolio__link:hover {
    background-color: #48bf72;
    color: #fff;
}

.grid {
    margin: 50px 0 0;
}

.grid__list {
    font-size: 0;
}

.grid__list:first-child {
    float: left;
}

.grid__list:last-child {
    float: right;
}

.grid__item {
    margin-bottom: 40px;
    display: block;
}

.grid__item:last-child {
    margin-bottom: 0;
}

.grid__link {
    display: block;
    font-size: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.grid__link::after, .grid__caption {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease;

}
.grid__link::after {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(72,191,114,0.8);
}


.grid__caption {
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 30px;
    margin: 0;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
}

.grid__caption > * {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.grid__link:hover::after, .grid__link:hover .grid__caption {
    opacity: 1;

}

/* #ABOUT */
.about {
    background: #fff url(../img/men-computer.jpg) no-repeat;
    background-size: contain;
    background-position: bottom center;
    padding: 90px 0;
    position: relative;
}

.author {
    color: #fff;
    max-width: 50%;
    float: right;
}


.author h2 {
    margin: 0 0 15px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.author__description,
.author__text {
    margin: 0 0 30px;
    line-height: 1.4;
}

.author__description {

}

.author__text {
    padding-right: 25%;
}

.button--gray {
    color: #3c4955;
    border-color: #3c4955;
}

.button--gray:hover {
    background-color: #3c4955;
}



/* #CONTACTS */
.contacts {
    padding: 50px 0;
    max-width: 690px;
    margin: auto;
}

.contacts__heading h2 {
    text-transform: uppercase;
    color: #48bf72;
    font-family: 'Big John'
    font-size: 26px;
    text-align: center;
}

.contacts__form {
    padding: 50px 0;
}

.row {
    margin-bottom: 30px;
}

.user-input {
    min-width: 330px;
    width: 330px;
 }

.user-input:first-child {
    float: left;
}

.user-input:last-child {
    float: right;
}

.contacts__label {
    width: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #3c4955;
    display: block; 
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    height: 50px;
    position: relative;

}
.contacts__label[for="email"] {
    background-image: url(../img/mail.svg);
}

.contacts__label[for="name"] {
    background-image: url(../img/user.svg);
}


.user-input>*, 
.user-textarea>* {
    float: left;
    border: 2px solid #3c4955;
} 

.user-textarea>* {
    height: 225px;
}


.contacts__input,
.contacts__textarea {
    width: calc(100% - 50px);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 23px;
    font-weight: 700;
    background-color: #f1f1f1;
    color: #3c4955;
}

.contacts__input {
    height: 50px;
}

.contacts__label[for="message"] {
    background-image: url(../img/crayon.svg);
    background-position: center 10px;
}

.contacts__textarea {
    padding: 15px 0 23px 15px;
    overflow: scroll;
}


.contacts__label:after {
    content: "";
    display: block;
    border: 8px solid transparent;
    border-left-color: #3c4955;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.contacts__label[for="message"]:after {
    top: 23px;
}

.button--green_back {
    background-color: #48bf72;
    color: #fff;
    width: 100%;
    letter-spacing: .3rem;
    padding: 15px; 
}

.button--green_back:hover {
    background-color: #3c4955; 
}



/* #FOOTER */

.footer {
    padding: 73px 0;
    background-color: #3c4955;
    color: #fff;
}

.footer__left, .footer__right {
    width: 50%;
}

.footer__left {
    text-align: left;
    float: left;
/*     display: table-cell; */
    padding-top: 19px;
}

.footer__right {
    text-align: right;
    float: right;    
}

.copyright {
    margin: 0;
}

.copyright__link {
    font-weight: 700;
}

.copyright__link:hover {
    text-decoration: underline; 
}

.footer__social, .footer__social-link {
    display: block;
    font-size: 0;
}

.footer__social-item {
    display: inline-block;
    margin-right: 40px;
}

.footer__social-item:last-child {
    margin-right: 0;    
}

.footer__social-link {
    width: 50px;
    overflow: hidden;
}

.footer__icon {
    height: 27px;
    font-size: 20px;
    text-align: center;
}


.footer__icon--twitter {
    background-color: #55acee;
}

.footer__icon--linkedin {
    background-color: #0976b4;
}

.footer__icon--behance {
    background-color: #ea4c89;
}

.footer__icon--dribbble {
    background-color: #1769ff;
}

.footer__icon--twitter-border {
    border-color: #55acee;
}

.footer__icon--linkedin-border {
    border-color: #0976b4;
}

.footer__icon--behance-border {
    border-color: #ea4c89;
}

.footer__icon--dribbble-border {
    border-color: #1769ff;
}


.footer__icon-top, .footer__icon-bottom {
    width: 1px;
    border-width: 25px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;

}

.footer__icon-top {
    border-top: 0;
    border-bottom-width: 14px;
}


.footer__icon-bottom {
    border-top-width: 14px;
    border-bottom: 0;
}

.footer__social-link:hover .footer__icon {
    background-color: #fff;
    color: #3c4955;
}

.footer__social-link:hover .footer__icon-top {
    border-bottom-color: #fff; 
}

.footer__social-link:hover .footer__icon-bottom {
    border-top-color: #fff; 
}

