/*  MAP
*****#COMMON
*****#HEADER
*****#ABOUT
*****#SERVICES
*****#GALLERY
*****#SUBSCRIBE
*****#BLOG */
/* #COMMON */
@import url("reset.css");
@import url("grid.css");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

html, body {
  width: 100%;
  min-height: 100vh; }

body {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  font-family: "Railway", sans-serif;
  color: #262626; }

a, button {
  cursor: pointer; }

.fullscreen {
  min-height: 100vh; }

.nopadding {
  padding: 0; }

/* #HEADER */
.main-header {
  background: #f9f8fb url("../img/header-bg.jpg") 70% 50% no-repeat;
  background-size: contain;
  position: relative; }
  .main-header__body {
    padding-top: 37vh; }
    .main-header__body h1 {
      font-weight: 900;
      font-size: 60px;
      margin-bottom: 35px; }
    .main-header__body p {
      line-height: 1.6;
      margin-bottom: 35px; }
    .main-header__body .button {
      height: 55px;
      min-width: 200px;
      padding: 0 30px;
      font-size: 20px;
      font-weight: 300;
      background-color: #ff6033;
      color: #fff;
      text-transform: uppercase;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border: none;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
      .main-header__body .button:hover {
        background-color: #ff8866; }

.fixed-menu {
  position: fixed;
  width: 100vw;
  background-color: rgba(249, 248, 251, 0.6);
  z-index: 4; }
  .fixed-menu [class^="col-"] {
    height: 147px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.logo {
  display: inline-block;
  width: 127px; }
  .logo:hover svg path {
    fill: #ff6033; }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main-menu a {
    display: inline-block;
    text-transform: uppercase;
    color: currentcolor;
    text-decoration: none;
    font-weight: 700;
    border-top: solid 3px transparent;
    padding-top: 9px;
    margin-top: -12px; }
    .main-menu a:hover, .main-menu a:active {
      border-color: #ff6033; }

.scroll {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 70px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  color: #2d2d2d; }
  .scroll:hover {
    color: #ff6033; }

/* #ABOUT */
.section-about {
  background-color: #00b1b1;
  color: #fff;
  position: relative; }
  .section-about__bg-img {
    height: 100vh;
    width: 100%;
    background: url("../img/about-bg.png") 50% 50% no-repeat;
    background-size: contain; }
  .section-about__content {
    padding-top: 25vh;
    padding-left: calc(100% / 12); }

.section-title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 30px; }
  .section-title--center {
    text-align: center; }
    .section-title--center * {
      display: inline-block; }

.text {
  line-height: 1.6; }
  .text:not(:last-child) {
    margin-bottom: 20px; }
  .text--center {
    text-align: center; }
    .text--center:last-child {
      margin-bottom: 45px; }

/* #SERVICES */
.section-services {
  background-color: #70bfff;
  position: relative; }
  .section-services__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url("../img/services-bg.png") 100% 50% no-repeat;
    background-size: contain; }
    .section-services__title h2 {
      color: #fff;
      z-index: 2; }
  .section-services__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section-services__left .col-2 {
      margin-right: 15px; }

.services-list {
  font-size: 0;
  list-style: none;
  width: 100%;
  margin: 0 -15px; }
  .services-list li {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5); }
    .services-list li a {
      display: block;
      background-color: #fff;
      color: inherit;
      text-decoration: none; }
      .services-list li a:hover {
        background-color: #ff6033;
        color: #fff; }
        .services-list li a:hover .col-9 {
          border-right-color: #fff; }
    .services-list li [class^="col-"] {
      padding: 0; }
  .services-list .row {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .services-list .row .col-9 {
      border-right: solid 1px #9d9d9d;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.service-name {
  text-align: center; }

/* #GALLERY */
.section {
  padding: 100px 0 120px; }

.section-gallery {
  text-align: center;
  background-color: #ffe92f; }
  .section-gallery__grid, .section-blog__grid {
    margin-bottom: 50px; }
  .section-gallery__item {
    display: block;
    position: relative;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    font-size: 0; }
    .section-gallery__item:hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2; }
    .section-gallery__item img {
      width: 100%; }
  .section-gallery_column {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%; }
  .section-gallery .button {
    height: 55px;
    min-width: 200px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 300;
    background-color: #5585a2;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
    .section-gallery .button:hover {
      background-color: #749db6; }

/* #SUBSCRIBE */
.section-subscribe {
  background: #fff url("../img/subscribe-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 145px 0 160px; }
  .section-subscribe__heading * {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px; }
  .section-subscribe .text {
    margin-bottom: 35px; }
  .section-subscribe__form [type="email"] {
    height: 55px;
    width: 100%;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #262626; }
  .section-subscribe__form .button {
    height: 55px;
    min-width: 200px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 300;
    background-color: #96b92c;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
    .section-subscribe__form .button:hover {
      background-color: #b0d345; }

/* #BLOG */
.section-blog {
  text-align: center;
  background-color: #b07cf7;
  color: #fff; }
  .section-blog__post-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: currentcolor;
    height: calc(100vw / 3.87);
    max-height: 310px;
    overflow: hidden; }
    .section-blog__post-link::after {
      content: "";
      display: none;
      background-color: rgba(38, 38, 38, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; }
    .section-blog__post-link:hover::after {
      display: block; }
  .section-blog__post-image {
    width: 100%; }
  .section-blog__post-date {
    position: absolute;
    text-align: center;
    padding: 8px;
    background-color: rgba(38, 38, 38, 0.5);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    left: 30px;
    top: 30px;
    z-index: 2; }
  .section-blog__post-day, .section-blog__post-month {
    display: block;
    line-height: 1; }
  .section-blog__post-day {
    font-size: 32px;
    font-weight: 700; }
  .section-blog__post-month {
    font-size: 21px;
    font-weight: 900; }
  .section-blog__post-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: 2;
    background: -webkit-gradient(linear, left bottom, left top, from(#262626), to(transparent));
    background: linear-gradient(to top, #262626, transparent);
    padding: 50px 20px 20px;
    text-align: left; }
    .section-blog__post-info h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 20px; }
      .section-blog__post-info h3:hover {
        text-decoration: underline; }
  .section-blog__author {
    display: block;
    font-size: 13px;
    font-weight: 300; }
  .section-blog .button {
    height: 55px;
    min-width: 200px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 300;
    background-color: #f72b3b;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
    .section-blog .button:hover {
      background-color: #f95c68; }
