$pink-color: #ef4836;
$blue-color: #2364bb;
$dark-color: #010307;
$white-color: #fff;
$light-color: #fcfcfc;
$gray-color: #aaa;
$dark-gray-color: #525252;
$dark-blue-color: #2866bd;
$red-color: #ef4836;;


$main-font: "Raleway", sans-serif;

$img_path: '../img/';

%mb0 {
	margin-bottom: 0;
}