*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

html, body {
	width: 100%;
	min-height: 100vh;

}

body{
	margin: 0;
	font-family: $main-font;
	color: $black;
}

.container {
	max-width: 1300px;
}

.nopadding {
	padding: 0;
}

a, a:hover {
	color: currentColor;
	text-decoration: none;
}

@for $i from 1 through 6 {
	h#{$i} {
		@extend %m0;
	}
}

h2 {
	font-size: 40px;
	font-weight: 300;
	display: inline-block;
}

h3 {
	font-size: 30px;
	font-weight: 600;
}


ul {
	@extend %m0;
	list-style: none;
}

.cyan-link {
	color: $cyan;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
