%m0 {
	margin: 0;
}

%mb80 {
	margin-bottom: 80px;

	@media screen and (max-width: 1199px) {
		margin-bottom: 60px;
	}

	@media screen and (max-width: 575px) {
		margin-bottom: 40px;
	}
}

%fz14 {
	font-size: 14px;
}

%h3 {
	margin-bottom: 20px;
	font-weight: 300;

	@media screen and (max-width: 767px) {
		margin-bottom: 10px;
	}
}



