$black: #292929;
$white: #fff;
$orange: #f45c07;
$light-gray: #ebf7e0;
$gray: #dae2d5;
$dark-gray: #b5b5b5;
$cyan: #038a7a;
$dark-cyan: #056572;
$blue: #0072bc;


$main-font: 'Proxima Nova', sans-serif;

$img_path: '../img/';