.sec-contacts {
	&__info {
		background-color: #2866bd;
		padding: 80px 95px 70px;
		height: 100%;
	}

	&__feedback {
		background-color: #131313;
		height: 100%;
		margin-left: -30px;
		padding: 50px 60px;

		&-title {
			margin-bottom: 35px;

			& h3 {
				font-size: 30px;
				font-weight: 300;
				line-height: 1;
			}
		}
	}

	&__form {
		max-width: 395px;

		%contactformchild {
			width: 100%;
			padding: 0 10px;
			border: solid 1px transparent;
			color: $white-color;
			font-weight: 300;

			&:focus {
				border-bottom-color: $white-color;
			}
		}

		%input {
			@extend %contactformchild;
			height: 45px;
			margin-bottom: 10px;
		}

		& [type="text"] {
			border-bottom-color: $dark-gray-color;
			@extend %input;
			&::-webkit-input-placeholder {color:$dark-gray-color;}
			&::-moz-placeholder {color:$dark-gray-color;}
			&:-moz-placeholder {color:$dark-gray-color;}
			&:-ms-input-placeholder {color:$dark-gray-color;}

		}

		& [type="email"] {
			border-bottom-color: $dark-blue-color;
			@extend %input;
			&::-webkit-input-placeholder {color:$dark-blue-color;}
			&::-moz-placeholder {color:$dark-blue-color;}
			&:-moz-placeholder {color:$dark-blue-color;}
			&:-ms-input-placeholder {color:$dark-blue-color;}
		}

		& textarea {
			@extend %contactformchild;
			padding-top: 15px;
			min-height: 107px;
			margin-bottom: 35px;
			border-bottom-color: $dark-gray-color;
			&::-webkit-input-placeholder {color:$dark-gray-color;}
			&::-moz-placeholder {color:$dark-gray-color;}
			&:-moz-placeholder {color:$dark-gray-color;}
			&:-ms-input-placeholder {color:$dark-gray-color;}
		}

		& [type="submit"] {
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
			color: $red-color;
			border: none;
			cursor: pointer;
			&:hover {
				color: $white-color;
			}
		}



		& * {
			background-color: transparent;
		}
	}
}

.contacts-list {
	&__item:not(:last-child) {
		margin-bottom: 40px;
	}

	%db {
		display: block;
	}

	&__item-name {
		@extend %db;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__item-value {
		@extend %db;
		font-size: 14px;
		font-weight: 300;
		line-height: 2;

		& a {
			color: currentColor;
		}
	}
}

