.about {
	padding-top: 20%;

	@include min576 {
		padding-top: rem(150px);		
	}

	@include min992 {
		padding-top: rem(200px);	
	}

	&__row {
		position: relative;
		z-index: 2;
	}


	&__content {
		background-size: cover;
		position: relative;
		padding: 15px;

		@include min768 {
			background: url($img-path + 'about-bg.jpg') no-repeat;
			padding: 0;			
		}

		&::after {
			content: '';
			@include overlay;
			background-color: rgba($blue-color, .97);
		}		
	}

	&__img {
		box-shadow: 0 0 10px 0 rgba($black-color, .3);
		width: 100%;
		height: 100%;
		object-fit: cover;

		@include min768 {
			position: absolute;
			max-width: 470px;	
			transform: translate(15px, -16%);
			left: 0;
		}

		@include min992 {
			transform: translate(15px, -25%);
			height: initial;
			object-fit: initial;			
		}
	}

	

	&__text-content {

		@include min768 {
			padding-left: 65px; 	
		}

		@include min992 {
			padding-right: 65px;
		}
	}

	&__text {
		$line-height: 2;
		line-height: $line-height;
		font-weight: 200;
		margin-bottom: rem(16px);

		@include min768 {
			margin-bottom: rem(30px);
		}

		&::before{
			@include decor($base-size, $line-height);
			width: 37px;
		}
	}

	
}