.services {
	position: relative;

	&__content {
		position: relative;
	}

	.grid-item {

		&__title {
			display: flex;
			margin-bottom: rem(16px);

			@include min576 {
				margin-bottom: rem(30px);
			}

			& > * {
				text-transform: capitalize;
				margin: 0;
				font-size: rem(20px);
				font-weight: 300;
				letter-spacing: 2px;
				
				@include min992 {
					font-size: rem(24px);
				}

			}

		}

		&__icon {
			margin-right: 1rem;
		}

		&__text {
			font-size: rem(14px);
			line-height: 1.85;
			font-weight: 200;
			letter-spacing: 1px;
			margin-bottom: rem(16px);

			@include min576 {
				margin-bottom: rem(30px);
			}
		}
	}
}