@import url('reset.css');

*, *:after, *:before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Miso";
	src: url('../fonts/miso.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Miso";
	src: url('../fonts/miso-bold.ttf');
	font-weight: 700;
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100vh;
	min-height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #fdde7e;
}

body{
	margin: 0;
}

.container {
	width: 90%;
	max-width: 1139px;
	margin: 0 auto;
	padding: 50px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.product {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.product .product__link {
	width: 361px;
	height: 441px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	color: currentcolor;
}


.product--gold .product__link {
	height: 500px;
	padding: 35px;
}

.product__price {
	display: inline-block;
	color: #02995b;
	font-family: "Miso";
	font-weight: 700;
	font-size: 70px;
}

.product__item {
	text-align: center;
}

.product__item h2 {
	font-family: "Miso";
	font-weight: 400;
	font-size: 56px;
	margin-bottom: 19px;
}

.product__description {
	font-weight: 300;
	font-size: 20px;
	display: inline-block;
	line-height: 1.4;
}