/*  MAP
*****#COMMON
*****#HEADER
*****#ABOUT
*****#SERVICES */

/* #COMMON */

@import url('reset.css');
@import url('grid.css');

*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

body{
	margin: 0;
	font-size: 17px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	color: #262626;
}


/* #HEADER */

.main-header {
	background: #f9f8fb url('../img/header-bg.jpg') 70% 50% no-repeat;
	background-size: contain; 
	position: relative;
}

.fullscreen {
	min-height: 100vh;
}

.fixed-menu {
	position: fixed;
	width: 100vw;
	background-color: rgba(249, 248, 251, .6);
	z-index: 4;
}
.fixed-menu [class^="col-"] {
	height: 147px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo {
	display: inline-block;
	width: 127px;
}

.logo:hover svg path {
	fill: #ff6033;
}

.main-menu {
	display: flex;
	justify-content: space-between;

}

.main-menu a {
	display: inline-block;
	text-transform: uppercase;
	color: currentcolor;
	text-decoration: none;
	font-weight: 700;
	border-top: solid 3px transparent;
	padding-top: 9px;
	margin-top: -12px;

}

.main-menu a:hover,
.main-menu a:active {
	border-color: #ff6033;
}

.main-header__body {
	padding-top: 37vh;
}

.main-header__body h1 {
	font-weight: 900;
	font-size: 60px;
	margin-bottom: 35px;
}

.main-header__body p {
	line-height: 1.6;
	margin-bottom: 35px;
}

.button {
	height: 55px;
	min-width: 200px;
	padding: 0 30px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.button:hover {
	cursor: pointer;
	opacity: .9;
}

.button--red {
	background-color: #ff6033;
}

.scroll {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 70px;
	transform: translateY(-50%);
	z-index: 1;
}

.scroll path {
	fill: #000000;
	stroke: none;
}

.scroll:hover path {
	fill: #ff6033;
}

/* #ABOUT */

.section-about {
	background-color: #00b1b1;
	color: #fff;
}

.section-about__bg-img {
	height: 100vh;
	width: 100%;
	background:  url('../img/about-bg.png') 50% 50% no-repeat;
	background-size: contain;
}

.section-about__content {
	padding-top: 25vh;
	padding-left: calc(100% / 12);
}

.section-title {
	font-size: 90px;
	font-weight: 700;
	margin-bottom: 30px;
}

.text {
	line-height: 1.6;
	margin-bottom: 20px;
}

.text:last-child {
	margin-bottom: 0;
}


/* #SERVICES */

.section-services {
	background-color: #70bfff;

}

.section-services__title {
	display: flex;
	margin-bottom: 0;
	flex-direction: column;
	justify-content: center;
	background-image: url('../img/services-bg.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
}

.section-services__title h2 {
	color: #fff;
	z-index: 2;
}

.section-services__left {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-services__left .col-2 {
	margin-right: 15px;
}

.nopadding {
	padding: 0;
}

.services-list {
	font-size: 0;
	list-style-type: none;
	width: 100%;
	margin: 0 -15px;
}

.services-list li {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.services-list li a {
	display: block;
	background-color: #fff;
	color: inherit;
	text-decoration: none;
}

.services-list li a:hover {
	background-color: #ff6033;
	color: #fff;
}

.services-list li a:hover .col-9 {
	border-right-color: #fff;
}

.services-list .row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;
}

.services-list .col-9 {
	border-right: solid 1px #9d9d9d;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.service-icon {
	width: 100%;
	background-image: url('../img/online-shopping.svg#1');
	background-size: cover;
}

.service-icon svg {
	width: 100%
}

.service-icon svg path {
	fill-rule: evenodd;
	fill: #262626;
}

.services-list a:hover svg path {
	fill: #fff;
}

.service-name {
	text-align: center;
}



