@mixin button($button-bg,$color:#fff) {
	height: 55px;
	min-width: 200px;
	padding: 0 30px;
	font-size: $text_lg;
	font-weight: 300;
	background-color: $button-bg;
	color: #fff;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
	&:hover {
		background-color: lighten($button-bg, 10%);
	}
}
