body {
	font-family: $main-font;
	font-size: $base-size;
	color: $white-color;
	background-color: $dark-color;
}
a {
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $pink-color;
	}
}

ul{
	padding: 0;
	margin: 0;	
	li {
		list-style: none;
		a {
			display: block;
		}
	}
}

.arrow-link {
	font-weight: 700;
	letter-spacing: 1px;
	font-size: rem(18px);

	&::after {
		content: "";
	}
}

.arrow {
    $size: 15px;
    $border: 2px solid currentcolor;

    display: inline-block;
    width: $size;
    border-top: $border;
    position: relative;
    vertical-align: middle;
    margin-left: .53em;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        right: -1px;
        width: $size / 2;
        height: $size / 2;
        transform-origin: top right;
        border-top: $border;
        border-right: $border;
        transform: rotate(45deg);
    }
}

.section-title {
	position: absolute;
	top: 0;
	transform: translateY(-76%);

	& * {
		font-size: rem(91px);
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1;
		opacity: 0.05;
		margin-bottom: 0;
	}
}

.section__height {
		min-height: 470px;
	}

