$paddingTop: 80px;

.first-screen {
	position: relative;
	background-image:
	linear-gradient(to top, $dark-color 0%,  rgba($top-gradient-color, .9) 100%), 
	url($img-path + "header-bg.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding-top: $paddingTop;


	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: calc(100vh - #{$paddingTop});
	}

	.navigation {
		&__list {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
		}

		&__item {

		}

		&__link {
			text-transform: uppercase;
			font-weight: 700;
			font-size: rem(14px);

			&:hover {
				color: $pink-color;
			}
		}
	}

	&__image {

		&-link {
			position: relative;
			display: inline-block;
			max-width: 70%;
			
			@media screen and (min-width: 1367px) {
				max-width: 100%;	
			}

			.fa-play {
				@include centered;
				z-index: 1;	
				color: $pink-color;
				font-size: rem(24px);
			}

				&::after {
					$size: 90px;
					content: '';
					display: block;
					position: absolute;
					width: $size;
					height: $size;
					border: 10px solid $border-color;
					border-radius: 50%;
					@include centered;
					background-color: $white-color;
				}		
			}		


			img {
				max-width: 100%;
			}
		}

		&__title {
			$font-size: rem(48px);
			margin-bottom: rem(30px);

			&>* {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: $font-size;
				font-weight: 300;
				margin-bottom: 0;
			}

			&::before {
				@include decor($font-size) ;
			}
		}

		&__text {
			line-height: 2;
			font-weight: 200;
			max-width: 90%;
			color: $light-color;
			letter-spacing: 2px;
		}
	}




