$img-path: '../img/';

$pink-color: #ef4836;
$blue-color: #2364bb;
$dark-color: #010307;
$white-color: #ffffff;
$black-color: #000000;
$light-color: #fcfcfc;
$grey-color: #aaaaaa;
$border-color: #ababab;
$top-gradient-color: #021833;
$contact-bg-color: #131313;
$form-color: #525252;
$form-hover: #2866bd;

$main-font: "Raleway", sans-serif;


$base-size: 16px;