$img-path: '../img/';

$pink-color: #ef4836;
$blue-color: #2364bb;
$dark-color: #010307;
$white-color: #ffffff;
$black-color: #000000;
$light-color: #fcfcfc;
$grey-color: #aaaaaa;
$border-color: #ababab;
$about-overlay-color: #205eba;
$top-gradient-color: #021833;

$main-font: "Raleway", sans-serif;


$base-size: 16px;