.main-main {
	padding: 205px 0 0;
}

.sec-about {
	padding: 150px 0;
	min-height: 470px;
	background: transparent url($img_path + 'about-bg.jpg') 50% 100% no-repeat;
	position: relative;
	z-index: 1;
	margin-bottom: 180px;

	&::after {
		content: "";
		position: absolute;
		background-color: $blue-color;
		opacity: .95;
		@include after-bg;

	}

	&__content {
		position: relative;
	}

	&-title {
		@extend %sec-title;
		left: 0;
	}

	&__text-content {
		padding: 0 5% 0 10% ;
		z-index: 2;
		position: relative;
	}

	&__white-line {
		position: absolute;
		top: 12px;
		left: 0;
		width: 35px;
		z-index: 4;
	}

	&__description {
		@extend %descr-bottom;
		font-weight: 300;
		line-height: 1.875;
	}

	.img-wrap-wrap {
		position: relative;
	}

	&__img-wrap {
		position: absolute;
		top: 0;
		left: 15px;
		padding-top: 116%;
		width: 100%;
		z-index: 1;
		transform: translateY(-55%);
	}

	&__img {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;

	}
}

.arrow_1 {
	$size: 25px;
	$border: 3px solid currentcolor;

	display: inline-block;
	width: $size;
	border-top: $border;
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: $size / 2.5;
		border-top: $border;
		right: 0;
		top: -3px;
		transform-origin: top right;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
		width: 12px;
	}
}

.arrow_2 {
	$size: 25px;
	$border: 3px solid currentcolor;

	display: inline-block;
	width: $size;
	border-top: $border;
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: -2px;
		right: -2px;
		width: $size / 2.5;
		height: $size / 2.5;
		transform-origin: top right;
		border-top: $border;
		border-right: $border;
		transform: rotate(45deg);
	}
}

