.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	clear: both; 

	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}

	&--in {
		margin: 0 -15px;
	}

	&--flex {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: stretch;
		align-items: stretch;
	}

	&--margin {
		margin-bottom: 30px;
	}

}


%col- {
	float: left;
	padding: 0 15px;
	min-height: 1px;
}

@for $i from 2 through 12 {	
	.col-#{$i} {
		@extend %col-;
		width: 100%*$i/12;
	}
}