/*  MAP
*****#COMMON
*****#HEADER
*****#ABOUT
*****#SERVICES
*****#GALLERY
*****#SUBSCRIBE
*****#BLOG
*****#CONTACT
*****#FOOTER  */

/* #COMMON */
*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	transition: all .3s ease;
	outline: none;
}

html, body {
	width: 100%;
	min-height: 100vh;

}

body{
	margin: 0;
	font-size: $text_md;
	font-weight: 300;
	font-family: $main_font;
	color: $main_color;
}

a, button {
	cursor: pointer;
}

a * {
	transition: none;
}

.fullscreen {
	min-height: 100vh;
}

.nopadding {
	padding: 0;
}

.bold-red {
	font-weight: 700;
	color: $red-color;
}

.cf {
	clear: both; 

	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

/* #HEADER */

.main-header {
	background: $header-bg-color url($img_path + 'header-bg.jpg') 70% 50% no-repeat;
	background-size: contain; 
	position: relative;

	&__body {
		padding-top: 37vh;

		& h1 {
			font-weight: 900;
			font-size: 60px;
			margin-bottom: 35px;
		}

		& p {
			line-height: 1.6;
			margin-bottom: 35px;
		}

		& .button {
			@include button($red-color);
		}
	}
}

.fixed-menu {
	position: fixed;
	width: 100vw;
	background-color: rgba(249, 248, 251, .6);
	z-index: 4;

	& [class^="col-"] {
		height: 147px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.logo {
	display: inline-block;
	width: 127px;
	color: $dark-color;

	&:hover {
		color: $red-color;
	}
}

.main-menu {
	display: flex;
	justify-content: space-between;

	& a {
		display: inline-block;
		text-transform: uppercase;
		color: currentcolor;
		text-decoration: none;
		font-weight: 700;
		border-top: solid 3px transparent;
		padding-top: 9px;
		margin-top: -12px;

		&:hover,
		&:active {
			border-color: #ff6033;
		}
	}
}

.scroll {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 70px;
	transform: translateY(-50%);
	z-index: 1;
	color: #2d2d2d;

	&:hover {
		color: $red-color;
	}
}

/* #ABOUT */

.section-about {
	background-color: #00b1b1;
	color: $white-color;
	position: relative;

	&__bg-img {
		height: 100vh;
		width: 100%;
		background:  url($img_path + 'about-bg.png') 50% 50% no-repeat;
		background-size: contain;
	}
	&__content {
		padding-top: 25vh;
		padding-left: calc(100% / 12);
	}
}

.section-title {
	font-size: $heading_size_h2;
	font-weight: 700;
	margin-bottom: 30px;

	&--center {
		text-align: center;

		& * {
			display: inline-block;
		}
	}
}

.text {
	line-height: 1.6;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&--center {
		text-align: center;

		&:last-child {
			margin-bottom: 45px;
		}
	} 
}


/* #SERVICES */

.section-services {
	background-color: #70bfff;
	position: relative;

	&__title {
		display: flex;
		margin-bottom: 0;
		flex-direction: column;
		justify-content: center;
		background: url($img_path + 'services-bg.png') 100% 50% no-repeat;
		background-size: contain;

		& h2 {
			color: $white-color;
			z-index: 2;
		}
	}

	&__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&  .col-2 {
			margin-right: 15px;
		}
	}
}

.services-list {
	font-size: 0;
	list-style: none;
	width: 100%;
	margin: 0 -15px;

	& li {
		display: inline-block;
		width: 100%;
		font-size: $text_lg;
		font-weight: 700;
		margin-bottom: 20px;
		box-shadow: $shadow;

		& a {
			display: block;
			background-color: #fff;
			color: inherit;
			text-decoration: none;

			&:hover {
				background-color: $red-color;
				color: $white-color;

				& .col-9 {
					border-right-color: $white-color;
				}
			}
		}

		& [class^="col-"] {
			padding: 0;
		}
	}

	& .row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: stretch;

		.col-9 {
			border-right: solid 1px #9d9d9d;
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	} 
}

.service-name {
	text-align: center;
}


/* #GALLERY */

.section {
	padding: 100px 0 120px;
}

%section-align {
	text-align: center;
}

.section-gallery {
	@extend %section-align;
	background-color: #ffe92f;

	&__grid {
		margin-bottom: 50px;
	}

	&__item {
		display: block;
		position: relative;
		box-shadow: $shadow;
		font-size: 0;
		margin-bottom: 30px;

		&:hover {
			&::after {
				content: "";
				position: absolute;
				@include bg-hover;
				display: block;
				background-color: rgba(0, 0, 0, .3);
				z-index: 2;
			}
		}
	}

	&__img-wrap {
		position: relative;
		padding-bottom: 70.3%;
		font-size: 0;
		overflow: hidden;

		&--big {
			padding-bottom: 71.4%;
		}

		& .cover-pic {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	& .col-6 &__item {
		margin-bottom: 0;
	}

	& .button {
		@include button(#5585a2);
	} 
}


/* #SUBSCRIBE */

%input {
	width: 100%;
	padding: 10px;
	font-size: $text_sm;
}

.section-subscribe {
	background: #fff url($img_path+'subscribe-bg.jpg') center no-repeat;
	background-size: cover;
	padding: 145px 0 160px;

	&__heading {
		& * {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 30px;
		}
	}

	& .text {
		margin-bottom: 35px;
	}

	&__form {

		& [type="email"] {
			@extend %input;
			height: 55px;	
			border: 1px solid $dark-color;
		}

		& .button {
			@include button (#96b92c);
		}
	}	
}

/* #BLOG */

.section-blog {
	@extend %section-align;
	background-color: #b07cf7;
	color: $white-color;

	&__grid {
		@extend .section-gallery__grid;
	}

	&__post-link {
		display: block;
		position: relative;
		text-decoration: none;
		color: currentcolor;
		height: calc(100vw / 3.87);
		max-height: 310px;
		overflow: hidden;

		&::after {
			content: "";
			display: none;
			background-color: $dark-color-rgba;
			position: absolute;
			@include bg-hover;
			z-index: 1;
		}

		&:hover::after {
			display: block;
		}
	}

	&__post-image {
		width: 100%;
	}

	&__post-date {
		position: absolute;
		text-align: center;
		padding: 8px;
		background-color: $dark-color-rgba;
		border-radius: 5px;
		text-transform: uppercase;
		text-align: center;
		left: 30px;
		top: 30px;
		z-index: 2;
	}

	&__post-day,
	&__post-month {
		display: block;
		line-height: 1;
	}

	&__post-day {
		font-size: 32px;
		font-weight: 700;
	}

	&__post-month {
		font-size: 21px;
		font-weight: 900;
	}

	&__post-info {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 150px;
		z-index: 2;
		background: linear-gradient(to top, $dark-color, transparent) ;
		padding: 50px 20px 20px;
		text-align: left;

		& h3 {
			font-size: $text_lg;
			font-weight: 700;
			line-height: 1.25;
			margin-bottom: 20px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__author {
		display: block;
		font-size: $text_xsm;
		font-weight: 300;
	}

	& .button {
		@include button(#f72b3b);
	} 
}


/* #CONTACT */

.section-contact {
	@extend %section-align;
	background: #75b5d1 url($img_path+'contacts-bg.jpg') center no-repeat;
	background-size: cover;

	&____grid {
		@extend .section-blog__grid;
	}

	&__form-wrapper {
		padding-right: calc((100% + 30px) / 6 - 30px);
	}

	&__form {
		& input,
		& textarea {
			@extend %input;
			background-color: rgba(0, 196, 196,.5);
			color: $white-color;
			font-weight: 700;
			border: none;
			border-left: solid 	transparent 5px;
			&::-webkit-input-placeholder {color:$white-color;
				font-weight: 300;}
				&::-moz-placeholder {color:$white-color;
					font-weight: 300;}
					&:-ms-input-placeholder {color:$white-color;font-weight: 300;}

					&:focus {
						border-left: solid 	#355b82 5px;
						background-color: rgba(0, 196, 196, 1);
					}
				}

				& input {	
					min-height: 50px;
					margin-bottom: 15px;
				}

				& textarea {
					padding-top: 17px;
				}
			}

			&__cont-wrapper {
				padding-left: calc((100% + 30px) / 6 - 30px);
				text-align: left;
			}

			&__contact:not(:last-child) {
				margin-bottom: 20px;
			}

			&__contact-name {
				font-size: $text_md;
				font-weight: 700;
				text-transform: uppercase;
			}

			&__contact-value {
				font-size: 20px;
				line-height: 1.5;
			}
		}


		/* #FOOTER */
		.main-footer {
			background-color: $dark-color;
			color: $gray-color;
			padding: 30px 0;
			min-height: 90px;

			&__inner {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__copyright-left,
			&__copyright-right {
				display: inline-block;
			}

			&__copyright-left {
				font-size: 16px;
			}

			&__copyright-right {
				font-size: $text_sm;
			}

			&__logo {
				display: inline-block;
				color: inherit;

				&:hover {
					@extend .logo:hover;
				}
			}
		}