/*  MAP
*****#COMMON
*****#HEADER
*****#ABOUT
*****#SERVICES */

/* #COMMON */

@import url('reset.css');
@import url('grid.css');

*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

body{
	margin: 0;
	font-size: $text_md;
	font-weight: 300;
	font-family: $main_font;
	color: $main_color;
}

a, button {
	cursor: pointer;
}

.fullscreen {
	min-height: 100vh;
}

.nopadding {
	padding: 0;
}

/* #HEADER */

.main-header {
	background: $header-bg-color url($img_path + 'header-bg.jpg') 70% 50% no-repeat;
	background-size: contain; 
	position: relative;

	&__body {
		padding-top: 37vh;

		& h1 {
			font-weight: 900;
			font-size: 60px;
			margin-bottom: 35px;
		}

		& p {
			line-height: 1.6;
			margin-bottom: 35px;
		}

		& .button {
			@include button($red-color);
		}
	}
}

.fixed-menu {
	position: fixed;
	width: 100vw;
	background-color: rgba(249, 248, 251, .6);
	z-index: 4;

	& [class^="col-"] {
		height: 147px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.logo {
	display: inline-block;
	width: 127px;

	&:hover {
		svg {
			path {
				fill: $red-color;
			}
		}
	}
}

.main-menu {
	display: flex;
	justify-content: space-between;

	& a {
		display: inline-block;
		text-transform: uppercase;
		color: currentcolor;
		text-decoration: none;
		font-weight: 700;
		border-top: solid 3px transparent;
		padding-top: 9px;
		margin-top: -12px;

		&:hover,
		&:active {
			border-color: #ff6033;
		}
	}
}


.scroll {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 70px;
	transform: translateY(-50%);
	z-index: 1;

	& path {
		fill: #2d2d2d;
		stroke: none;
	}

	&:hover path {
		fill: $red-color;
	}
}

/* #ABOUT */

.section-about {
	background-color: #00b1b1;
	color: $white-color;
	position: relative;

	&__bg-img {
		height: 100vh;
		width: 100%;
		background:  url($img_path + 'about-bg.png') 50% 50% no-repeat;
		background-size: contain;
	}
	&__content {
		padding-top: 25vh;
		padding-left: calc(100% / 12);
	}
}

.section-title {
	font-size: $heading_size_h2;
	font-weight: 700;
	margin-bottom: 30px;
}

.text {
	line-height: 1.6;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&--center {
		&:last-child {
			margin-bottom: 45px;
		}
	} 
}


/* #SERVICES */

.section-services {
	background-color: #70bfff;

	&__title {
		display: flex;
		margin-bottom: 0;
		flex-direction: column;
		justify-content: center;
		background: url($img_path + 'services-bg.png') 100% 50% no-repeat;
		background-size: contain;

		& h2 {
			color: $white-color;
			z-index: 2;
		}
	}

	&__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&  .col-2 {
			margin-right: 15px;
		}
	}
}

.services-list {
	font-size: 0;
	list-style: none;
	width: 100%;
	margin: 0 -15px;

	& li {
		display: inline-block;
		width: 100%;
		font-size: $text_lg;
		font-weight: 700;
		margin-bottom: 20px;
		box-shadow: $shadow;

		& a {
			display: block;
			background-color: #fff;
			color: inherit;
			text-decoration: none;

			&:hover {
				background-color: $red-color;
				color: $white-color;

				& .col-9 {
					border-right-color: $white-color;
				}

				& svg { 
					& path {
						fill: $white-color;
					}
				}
			}
		}

		& [class^="col-"] {
			padding: 0;
		}
	}

	& .row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: stretch;

		.col-9 {
			border-right: solid 1px #9d9d9d;
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	} 
}

.service-name {
	text-align: center;
}


/* #GALLERY */
.section {
	padding: 100px 0 120px;
}

.section-gallery {
	text-align: center;
	background-color: #ffe92f;

	&__grid {
		margin-bottom: 50px;
	}

	&__item {
		display: block;
		position: relative;
		box-shadow: $shadow;
		font-size: 0;

		&:hover {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				background-color: rgba(0, 0, 0, .3);
				z-index: 2;
			}
		}

		& img {
			width: 100%;
		}
	}

	&_column {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		height: 100%;
	}

	& .button {
		@include button(#5585a2);
	} 
}


/* #SUBSCRIBE */

.section-subscribe {
	background: #fff url($img_path+'subscribe-bg.jpg') center no-repeat;
	background-size: cover;
	padding: 145px 0 160px;

	&__heading {
		& * {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 30px;
		}
	}

	& .text {
		margin-bottom: 35px;
	}

	&__form {

		& [type="email"] {
			height: 55px;
			width: 100%;
			padding-left: 10px;
			font-size: $text_sm;
			border: 1px solid $dark-color;
		}

		& .button {
			@include button (#96b92c);
		}
	}	
}


