 *, *:after, *:before{
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

 @font-face {
 	font-family: "Museo Sans Rounded 100";
 	src: url('../fonts/MuseoSansRounded-100.otf');
 	font-weight: normal;
 	font-style: normal;
 }

 html, body {
 	width: 100%;
 	height: 100vh;
 	min-height: 100%;
 	font-size: 14px;
 	font-family:"Museo Sans Rounded 100", sans-serif;
 	color: #49505a;
 	background-color: #f0f0f0;

 }

 body{
 	margin: 0;
 }

 h1 {
 	margin: 0;
 }

 .container {
  	width: 800px;
 	margin: 0 auto;
	padding: 109px 51px 100px 52px;
 	background-image: url(../img/main-bg.jpg);
 }

 .product {
 	padding: 36px 20px 20px;
 	background-color: #111a28;
 	border-radius: 9px;
 	overflow: auto;
 }

/*  #LEFT COLUMN */

 .product__left-col {
 	width: 367px;
 	float: left;
	position: relative;
 }

.logo {
	position: absolute;
	top: 0;
	left: 0;
}

 .product__img-link {
 	display: table-cell;
 	width: 100%;
	height: 314px; 
 	overflow: auto;
 	text-align: center;
 	vertical-align: middle;
 }

 .product__image {
 	max-width: 100%;
 	height: auto;
 	margin: auto;
 }

.image-nav {
	display: block;
	font-size: 0;
	text-align: center;
	padding-top: 5px;
}

.image-nav__item {
	display: inline-block;
	font-size: 100%;
	margin-right: 9px;
}

.image-nav__link {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 5px;
	border: 0;
	background-color: #1f273f;
}

.image-nav__item:nth-child(2) a {
	background-color: #fff;
}

.image-nav__item:nth-child(3) a {
	background-color: #ed3333;
}

.image-nav__item:nth-child(4) a {
	background-color: #29e3ea;
}

.image-nav__link:hover, 
.image-nav__link--active  {
	border: 1px solid #7e838b;
}

.image-nav__link--active {
	width: 16px;
	height: 16px;
	border-radius: 8px;
}

/*  #RIGHT COLUMN */

 .product__info {
 	width: 290px;
 	padding-left: 10px;
 	float: right;
 	text-align: left;
 }

 .product__name {
 	font: 24px;
 	color: #e1e1e1;
 	margin-bottom: 18px;
 }

 .product__description {
 	display: inline-block;
 	margin-bottom: 27px;
 }

 .rating {
 	display: block;
 	font-size: 0;
  	margin-bottom: 27px;	
 }

 .star {
 	list-style: none;
 	display: inline-block;
 	font-size: 12px;
 	color: #9da1a6;
 }

.star:nth-child(-n+3) {
	color: #f7bf16;
}

.star:hover {
	text-shadow: 1px 1px 2px #fff;
}

.product__options-list {
	display: block;
  	margin-bottom: 27px;
}

.product__option-li {
	display: inline-block;
}

.product__option, .button {
	border: 1px solid #49505a;
	color: #49505a;	
}

.product__option {
	padding: 10px;
	background-color: transparent;
	cursor: pointer;
} 

.button {
	display: inline-block;
	padding: 14px 56px;
	background-color: #202835;
}

.button:hover {
	background-color: #9da1a6;
	cursor: pointer;
}



