*,
*:focus
*:active {
	outline: 0 transparent;
}

body {
	font-family: $main_font;
}

.container {
	max-width: 1200px;
}

.main {
	padding: 60px 0 120px;
}

a, button, select {
	cursor: pointer;
}

a {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.btn {
	height: 60px;
	display: flex;
	align-items: center;
	border: 2px solid $gray;
	padding: 0 30px;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 4px;
	color: $gray;

	&:hover {
		background-color: #00c8c8;
		border-color: #00c8c8;
		color: $white;

	}
}

.mw1810 {
	max-width: 1810px;
}

.ptb15 {
	padding: 15px 0;
}