.header {

	&__black-nav {
		display: flex;
		justify-content: space-between;
		flex: 100%;
		color: $gray;
		background-color: $black;
		min-height: 45px;
		font-size: 13px;

		&-right {
			display: flex;
			justify-content: space-between;
			min-width: 370px;
		}
	}

	&__currency-list {
		background: none;
		border: none;
		color: currentColor;
	}

	&__reg-links {
		display: flex;
		justify-content: space-between;
		flex: 100%;
		max-width: 140px;

		a {
			display: block;
		}

	}

	&__cart-btn {
		height: 100%;
		background-color: $cyan;
		border: none;
		color: $white;
	}


}



