.header {
	min-height: 100vh;
	background: $light_gray 50% $black_nav_height no-repeat;
	background-size: contain;
	position: relative;

	&__black-nav {
		display: flex;
		justify-content: space-between;
		flex: 100%;
		min-height: $black_nav_height;
		font-size: 13px;
		color: $gray;

		&-wrapper {
			background-color: $black;

			&.fixed-bottom {
				position: fixed;
			}
		}

		&-right {
			display: flex;
			justify-content: space-between;

			@include min576 {
				min-width: 370px;
			}
		}
	}

	&__currency-list {
		background: none;
		border: none;
		color: currentColor;

		&-wrapper {
			margin: 0;
			display: flex;
			align-items: center;
		}
	}

	&__reg-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 100%;
		max-width: 140px;

		a {
			display: block;

			&:hover {
				color: $white;
			}
		}

	}

	&__cart-btn {
		height: 100%;
		background-color: $cyan;
		border: none;
		color: $white;
		width: 60px;
		transform: translateX(15px);
		position: relative;
		transition: all .4s ease;

		& .cart-open {
				display: none;
			}

		@include min576 {
			width: 150px;
		}

		&::before,
		&::after {
			position: absolute;
		}

		&::before {
			display: block;			
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);	
			content: url('../img/shopping-cart-solid.svg');
			height: 20px;
			width: 22px;

			@include min576 {
				display: block;
				left: 22px;
				transform: translate(0, -50%);
			}

		}

		&::after {
			display: none;
			transform: translateY(-100%);
			top: 45%;
			right: 24px;
			content: url('../img/angle-down.svg');
			height: 4px;
			width: 8px;

			@include min576 {
				display: block;
			}
		}

		@include min1200 {
			transform: none; 
		}

		span {
			display: none;
			position: absolute;
			right: 40px;
			top: 50%;
			transform: translateY(-50%);
			line-height: 1;

			@include min576 {
				display: block;
			}
		}

		&.expand {
			position: absolute;
			right: 0;
			width: 280px;
			height: 100px;
			z-index: 15;

			& .cart-static {
				display: none;
			}

			& .cart-open {
				display: block;
			}

			&::after {
				content: url('../img/angle-up.svg');
			}
		}
	}

	&__content {
		position: relative;
		width: 100%;
		height: calc(100vh - 45px);
		align-items: center;

		& h1 {
			width: 100%;
			font-size: 100px;
			font-weight: 700;
			color: $dark_gray;
			line-height: 1;
			text-transform: uppercase;
			display: flex;
			justify-content: space-between;
			align-self: center;
			margin-bottom: 5vh;

			@include min576 {
				font-size: 200px;
				margin-bottom: 0;
			}

			@include min768 {
				font-size: 250px;
			}

			@include min992 {
				font-size: 330px;
			}

			@include min1200 {
				font-size: 450px;
			}
		}

		& .btn {
			align-self: flex-end;
			font-weight: 500;
		}
	}

	& .carousel {
		height: 100%;
	}
	& .carousel-inner {
		height: 100%;
	}
	& .carousel-item {
		height: 100%;

		&--white {
			background-color: $white;
		}

		&__img {
			height: 100%;
			position: absolute;
			left: 35%;
			transform: translateX(-50%);
		}

		&__heading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
}

.main-menu {
	position: absolute;
	z-index: 11;
	width: 100%;
	color: $dark_black;
	min-height: 90px;
	display: flex;
	align-items: center;

	&.fixed-top {
		position: fixed;
		background-color: rgba($black, .1);
		min-height: 50px;
	}

	.navbar {
		font-family: $main_font;
		justify-content: space-between;

		&-brand {
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 3px;

			span {
				font-weight: 700;
			}

			&--mobile {
				@include min768 {
					display: none;
				}
			}

			&:not(.navbar-brand--mobile) {
				display: none;
				@include min768 {
					display: block;
				}
			}
		}

		&-collapse {
			justify-content: flex-end;

			&.show {
				background-color: #fff;
				min-height: calc(100vh - 99px);
				padding: 0 30px;

				& .navbar-nav {
					padding-right: 0;
					align-items: center;
					margin-bottom: 10px;

					& .nav-item {
						&:not(:last-child) {
							margin-right: 0;
						}

						& .dropdown-menu {
							border: none;
							box-shadow: none;
							padding: 5px 10px 20px;

							& .dropdown-block-title {
								margin-bottom: 10px;
							}

							& .dropdown-item {
								padding: 8px 0;
							}
						}
					}

					& .nav-link {
						&:after {
							right: -15px;
							top: 50%;
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							left: initial;
							bottom: initial;
						}
					}

				}
			}
		}

		&-nav {
			padding-right: 30px;

			@include min1200 {
				padding-right: 115px;
			}

			.nav-item {
				&:not(:last-child) {
					margin-right: 25px;	

					@include min1200 {
						margin-right: 55px;
					}
				}

				.nav-link {
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 500;
					color: $dark_black;
					padding: .75rem 0;

					@media (min-width: 992px) {
						padding-left: 0;
						padding-right: 0;
					}

					&:hover {
						color: $cyan;
					}
				}

				.dropdown-toggle {
					position: relative;
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;

						&:hover {
							@extend .nav-link:hover;	
						}
					}
				}
			}

			.dropdown-menu {
				padding: 30px;
				margin: 0;
				box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);

				.dropdown-block-title {
					display: block;
					font-size: 12px;
					font-weight: 500;
					text-transform: uppercase;
					color: $dark_gray;
					margin-bottom: 20px;
				}

				.dropdown-item {
					padding: 10px 0;
					font-size: 14px;
					font-weight: 300;
					color: $gray;
					text-transform: capitalize;

					&:hover {
						background-color: transparent;
						color: $cyan;
					}
				}
			}
		}
	}

	&-search {
		position: relative;

		&__input {
			font-size: 13px;
			color: $black;
			height: 30px;
			border-radius: 0;
			padding: 5px 10px;

			@include placeholder {
				color: $gray;
			}

			&:focus {
				border-color: $cyan;
				box-shadow: 0 0 0 0.2rem rgba($cyan, .25);

				& ~ .main-menu-search__loupe {
					display: none;
				}
			}
		}

		&__loupe {
			position: absolute;
			right: 10px;
			color: $gray;
			padding: 0;
			background: none;
			border: none;
			line-height: 1;			

			& svg {
				height: 15px;
				width: 15px;
			}
		}
	}
}

.offers {
	padding: 45px 0 60px;

	& .nav-tabs {
		border: none;
		margin-bottom: 30px;
	}

	& .nav-item {
		
		& .nav-link {
			border: none;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			color: $gray;

			&:hover,
			&.active {
				border: none;
				color: $cyan;
			}
		}
	}

	& .tab-pane .col-12.col-md-6:first-child {
		padding-bottom: 30px;

		@include min992 {
			padding-bottom: 0;
		}
	}

	&-item {
		display: block;
		position: relative;
		padding-top: 119%;
		background-color: $light_gray;
		font-size: 0;

		&>* {
			position: absolute;
		}

		&--big {
			padding-top: 80.9%;
		}

		&__img {
			bottom: 0;
			height: 100%;
			max-width: 100%;
			left: 50%;
			transform: translateX(-50%);

		}

		&__price {
			top: 15px;
			left: 15px;
			z-index: 1;
			font-size: 19px;
			line-height: 1;
			color: $gray;

			@include min1200 {
				font-size: 21px;
			}

			&-currency {
				top: -4px;
			}
		}

		&__info-icon {
			display: none;
			z-index: 2;
			width: 42px;
			height: 42px;
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white;
		}

		&__brief {
			display: block;
			z-index: 2;
			bottom: 0;
			width: 100%;
			background-color: rgba($black, .2);
			padding: 20px 20px 15px;
			border-top: 1px solid $gray;
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
			flex-direction: column;
			align-items: center;
			text-align: center;

			@include min992 {
				display: none;
				transform: translateY(100%);
				background-color: $white;
			}


			&-title {
				margin-bottom: 20px;
				
				* {
					display: inline;
					color: $white;
					text-transform: uppercase;
					font-size: 13px;

					@include min992 {
						color: $gray;
					}
				}

				h3 {
					margin-right: .4em;
				}
			}

			&-descr {
				font-family: $secondary_font;
				font-size: 15px;
				color: $white;

				@include min992 {
						color: $gray;
					}
			}
		}

		&__buy {
			display: flex;
			justify-content: space-between;
			padding: 0;
			width: 33%;
			min-width: 115px;
			max-width: 170px;
			margin-bottom: 0;
			margin: 0 auto;


			&-btn {
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: $cyan;
				border: none;
				box-shadow: none;

				@include min992 {
					color: $gray_2;
				}

				&:hover {
					background-color: $cyan;
				}
			}

			&-icon {
				width: 15px;
				height: 15px;
				color: $white;
			}
		}

		&:hover {
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
		}

		&:hover &__info-icon {
			display: block;
		}

		&:hover &__brief {
			display: flex;
		}
	}
}

.hr {
	&__line {
		color: $gray_2;
		margin: 0;
	}
}

.lookbook-block {
	padding: 30px 0;

	@include min768 {
		padding: 60px 0;
	}

	& .col-lg-6 {
		margin-bottom: 30px;

		@include min1200 {
			margin-bottom: 0;
		}
	}

	&__item {
		display: block;
		background-color: $light_gray;
		background-position: 5% 100%;
		background-repeat: no-repeat;
		background-size: auto 80%;
		height: 100%;
		/* padding: 100px 55px 140px; */
		padding: 12% 8%;
		text-align: left;

		&:hover {
			@extend .offers-item:hover;
			text-decoration: none;
		}

		&--men {
			@include min415 {
				background-image: url('../img/lookbook-men.png');
			}	
		}

		&--women {
			@include min415 {
				background-image: url('../img/lookbook-women.png');
			}	
		}

		&--your {
			@include min415 {
				background-image: url('../img/lookbook-your.png');
			}		
		}

		@include min415 {
			text-align: right;
			padding: 14% 8% 20%;
		}


		@include min1367 {
			background-size: auto 92%;
		}

		& .col-12 {
			@media all and (min-width: 415px) and (max-width: 575px) {
				max-width: 80%;
			}
		}

		&-title h2 {
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 500;
			color: $dark_gray;
			line-height: 1.4;
			letter-spacing: 1px;
			margin-bottom: 20px;

			& span {
				font-weight: 700;
				@include min415 {
					display: block;
				}		
			}

			@include min576 {
				font-size: 36px;
			}

			@include min1680 {
				font-size: 48px;
				line-height: 1.5;
				letter-spacing: 3px;
			}
		}

		&-descr {
			font-family: $secondary_font;
			font-size: 15px;
			color: $gray_2;
			margin-bottom: 30px;

			& svg {
				width: 14px;
				height: 14px;
				vertical-align: middle;
			}
		}

		& .btn {
			margin: 0 0 0 auto;
		}
	}
}




