$black: #333333;
$dark_black: #222222;
$dark_gray: #575153;
$gray_2: #727272;
$gray: #777777;
$light_gray: #f8f8f8;
$cyan: #00c8c8;
$white: #fff;

$main_font: 'Montserrat', sans-serif;
$secondary_font: 'Roboto', sans-serif;

$black_nav_height: 45px;
$main_menu_height: 90px;
